@model IEnumerable<WCF_MVC.ServicioLibros.LibroSt>

@{
    ViewBag.Title = "Lista de Libros";
}

<h2>Lista de Libros</h2>

<p>
    @Html.ActionLink("Crear Nuevo Libro", "CrearLibro")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Editorial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero_de_Paginas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titulo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Editorial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISBN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero_de_Paginas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>

    </tr>
}

</table>
